[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
"flask-cors" = "*"
"flask-migrate" = "*"
"python-dotenv" = "*"
"flask-rest-jsonapi" = "==0.12.6"


[dev-packages]